@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');

* {
  box-sizing: border-box;

}
/*css for navbar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.neons {
   margin-top: 6rem;
   text-align: center;
}

.neons h1 {
  font-size: 5rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}

@media (max-width: 740px){
  .neons h1{
    font-size: 4rem;
    margin-bottom: 10%;
  }
}

@-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  
  to {
     color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
}

:root {
/* Color of the background */
  --bodycolor: #efefef;

/* Width of the columsn */
--boxwidth: 300px;   
/* Height of the rows  520*/
--boxheight: 400px;

/* Width of the bubble (it's always a circle, width and height are the same) */
 --icon-box-dimensions: 250px;
  
/* DON'T TOUCH THE VALUES OF THIS VARIABLE! */
 --icon-box-dimensions-half: calc(var(--icon-box-dimensions) /2);
  /*--------------------*/
  
/* How far from the top is the position of the bubble? */
  --icon-offset: -10%;
  
/* Size of the font */
  --content-fontsize: 1.1em;

/* Define a accent color, make sure it's readable */
  --accentcolor: maroon;
  
/* backgroundcolor and text color of the button, unhovered.
/* Color in hovered state is the accent color */ 
  --btntext-background : rgba(255,255,255,0.1);
  --btntext-color : #eee;
}

body {
  font-family: 'Lato', sans-serif;
  padding: 35px;
  background: var(--bodycolor);
  /* background-color: #330867; */
  background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
}


/* grid-container */
.container {
  margin: 4 auto;
  padding: 3%;
  max-width: 100%;
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--boxwidth), 1fr));
  grid-auto-rows: minmax(var(--boxheight), 1fr);
  grid-gap: 70px;
  justify-content: center;
  box-sizing: border-box;
}

/* this is the card selecter */
.box {
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  background: #efefef;
  transition: 0.5s;
  height: 400px;
  /* border-radius: 2%; */

}

.box:hover {
  cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.img-box {
position: absolute;
  object-fit: cover;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  transition: 0.35s cubic-bezier(.15,.78,.46,.8);
  z-index: 1;
 
  
}

.img-box img {
  object-fit: cover;
  width: 100%; height: 100%;
  transition: all .5s ease-in-out;
}

.img-box::after {
/*   extract the title of the article */
  content: attr(title);
  
  font-family:"Lato";
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 111%;
  z-index: 100;
  text-align:center;
  font-size: 1.05em;
  font-weight: 700;
  width:250%;
opacity: 1;
  /* border-radius: 10%; */
  height: 45.5%;
  padding-top: 27px;
/*     background: #fff radial-gradient(circle, rgba(0,0,0,0) , rgba(0,0,0,1) 300%); */
  background: #efefef;
  transition: 0.2s;
  color: #666;
  letter-spacing: -.6px;
  box-shadow: inset 0px 0 3px 3px rgba(0,0,0,0.3)
}

.img-box::before {
  position: absolute;
  content: attr(data-author);
  bottom: 2.5%;
  font-weight: 400;
  color: white;
  z-index: 2001;
  text-align: center;
  width: 100%;
  color:var(--accentcolor);
    font-variant: small-caps;
  text-transform: lowercase;
  font-size: 0.8em;
  opacity: 1;
}

.container .box:hover .img-box {

  top: var(--icon-offset);
  left: calc(50% - var(--icon-box-dimensions-half));
  width: var(--icon-box-dimensions);
  height: var(--icon-box-dimensions);


}
.container .box:hover .img-box:after, .container .box:hover .img-box:before
{
  opacity: 0;
}



.container .box:hover .img-box img {
  
  border: 2px solid white;
    border-radius: 50%;
  filter: saturate(70%) contrast(120%);
}

  .box:hover .content {
  bottom: 0;
    opacity: 1;
         transform: scale(1);
}   


   .content {
  position: absolute;
  opacity:1;
  bottom: -50%;
  width: 100%;
/*  height: 60%;*/
  height:70%;
  padding: 3.5em;
  font-size: 0.8em;
  text-align: center;
  line-height: 1.4;
  transition: bottom 0.35s cubic-bezier(.15,.78,.46,.8), transform 0.3s;
  color: #000;
  opacity: 0;
  top: 40%;
}

.content h2 {
  position: relative;
  font-size: 1.4em;
  font-weight: 700;
}


.content h3 {
  font-size: 1em;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
  margin-bottom: 0.5em;
  color: var(--accentcolor);
  margin-bottom: 0.5em;
  /* margin-top: 5em; */
  
}

.content p {
  font-size: var(--content-fontsize);
  font-weight: 100;
  margin-bottom: 0.5em;
  
}  

@media screen and (min-width:360px and max-width:450px) {
  
  :root {
--boxheight:150px; 
--boxwidth: 120px;

  }
  
}

.content.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  color: #fff;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
/* 14 */
.btn-14 {
  position: relative;
  color: #00aced;
  border: none;
  z-index: 2;
}
.btn-14:before,
.btn-14:after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  border: 1px solid;
  
  z-index: -1;
  transition: all 0.3s ease;
}
.btn-14:before{
   top: 0;
   left: 0;
   border-bottom-color: transparent;
   border-right-color: transparent;
   border-top-color: #00aced;
   border-left-color: #00aced;
}
.btn-14:after{
   bottom: 0;
   right: 0;
   border-top-color: transparent;
   border-left-color: transparent;
   border-bottom-color: #00aced;
   border-right-color: #00aced;
}
.btn-14:hover:before,
.btn-14:hover:after {
  border-color: #00aced;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px #00aced, 0 0 5px #00aced inset;
}



/*navbar*/


.containerr{
	cursor: pointer;
	position: absolute;
	top: 5%;
	right: 5%;
	width: 30px;
	height: 20px;
}

.bars{
	width: 30px;
	height: 4px;
	background: #000;
}

.bars::before,
.bars::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 4px;
	background: #000;
}

.bars::before{
	margin-top: 9px;
}

.bars::after{
	margin-top: 18px;
}

nav{
	position: absolute;
	width: 100%;
	height: 30px;
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
	right: -200vw;
  z-index: 9999;
  top: 0;
}

nav ul {
	list-style: none;
}

nav ul li{
	margin: 50px 0;
}

nav ul li a{
	color: #fafafa;
	font-size: 2em;
	text-decoration: none;
	font-weight: 500;
	position: relative;
	opacity: 0;
	pointer-events: none;
}

nav ul li a:after{
	content: '';
	width: 100%;
	position: absolute;
	height: 3px;
	border-radius: 5px;
	background: #fff;
	bottom: -10px;
	left: 0;
	transform-origin: left;
	transition: transform .5s ease;
	transform: scaleX(0);
}


nav ul li a:hover:after{
	transform: scaleX(1);
}

nav .close {
	width: 30px;
	height: 30px;
	position: absolute;
	top: 6%;
	right: 5%;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
}


nav .close div::before,
nav .close div::after{
	content: '';
	position: absolute;
	width: 30px;
	height: 4px;
	background: #fff;
	transition: background .5s ease;
}
nav .close div::before{
	transform: rotate(-45deg);
}

nav .close div::after{
	transform: rotate(45deg);
}

nav .close:hover div::before,
nav .close:hover div::after{
	background: rgb(209, 3, 3);
}

@media (max-width: 992px){
  h1{
    font-size: 25px;
  }
}
    
