@import url('https://fonts.googleapis.com/css?family=Codystar:300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Sacramento&display=swap');
* {
  box-sizing: border-box;
}

/*css for navbar*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* .neons {
  font-family: codystar;
   margin-top: 1rem;
   margin-bottom: 2rem;
   text-align: center;
}

.neons h1 {
  font-size: 5rem;
  text-align: center;
   font-weight: bold;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
} */
.title {
  /* padding-top: 1rem; */
  color: rgba(91, 74, 47, 0.72);
  font-size: 7rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
  text-align: center;
  text-shadow: #fff;
  padding-left: 10px;
  padding-right: 10px;

  font-family: "Roboto", sans-serif;
  font-family: "Ubuntu", sans-serif;
}

.neons h1 {
  font-size: 5rem;
  text-align: center;
  -webkit-animation: glow 2s ease-in-out infinite alternate;
  -moz-animation: glow 2s ease-in-out infinite alternate;
  animation: glow 2s ease-in-out infinite alternate;
}
h1 {
  /* padding-top: 1rem; */
  /* padding-left: 3rem; */
  font-size: 3.3rem;
  text-decoration: none;
  color: #f2b553;
  text-align: center;
  position: relative;
}

h1 {
  -webkit-text-stroke: 1.8px rgba(255, 115, 0, 0.323);
}
@media (max-width: 740px){
  .neons h1{
    font-size: 4rem;
    margin-bottom: 10%;
    /* margin-right: 10%; */
  }
}

@media (max-width: 376px){
.neons h1 {
    font-size: 3rem;
    
}
}

/* @-webkit-keyframes glow {
     from {
      color: #fff;
    text-shadow: 0 0 10px #00fff2, 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 90px #00fff2;
  }
  
  to {
     color: gray;
    text-shadow: 0 0 20px #00fff2, 0 0 30px #00fff2, 0 0 40px #00fff2, 0 0 50px #00fff2, 0 0 60px #00fff2, 0 0 70px #00fff2, 0 0 80px #00fff2, 0 1 90px #00fff2;
  }
} */

:root {
/* Color of the background */
  --bodycolor: #efefef;

/* Width of the columsn */
--boxwidth: 300px;   
/* Height of the rows  520*/
--boxheight: 400px;

/* Width of the bubble (it's always a circle, width and height are the same) */
 --icon-box-dimensions: 250px;
  
/* DON'T TOUCH THE VALUES OF THIS VARIABLE! */
 --icon-box-dimensions-half: calc(var(--icon-box-dimensions) /2);
  /*--------------------*/
  
/* How far from the top is the position of the bubble? */
  --icon-offset: -10%;
  
/* Size of the font */
  --content-fontsize: 1.1em;

/* Define a accent color, make sure it's readable */
  --accentcolor: maroon;
  
/* backgroundcolor and text color of the button, unhovered.
/* Color in hovered state is the accent color */ 
  --btntext-background : rgba(255,255,255,0.1);
  --btntext-color : #eee;
}

body {
  font-family: 'Lato', sans-serif;
  position: relative; 
  width:100%;
  height: 100%;
  padding: 35px;
  background: linear-gradient(90deg, rgba(2,0,.61) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}


.boxs div{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: 6px solid rgba(255,255,255,0.8);
}

.boxs div:nth-child(1){
  top:12%;
  left:42%;
  animation: animate 10s linear infinite;
}

.boxs div:nth-child(2){
  top:70%;
  left:50%;
  animation: animate 7s linear infinite;
}

.boxs div:nth-child(3){
  top:17%;
  left:6%;
  animation: animate 9s linear infinite;
}


.boxs div:nth-child(4){
  top:20%;
  left:60%;
  animation: animate 10s linear infinite;
}

.boxs div:nth-child(5){
  top:67%;
  left:10%;
  animation: animate 6s linear infinite;
}

.boxs div:nth-child(6){
  top:80%;
  left:70%;
  animation: animate 12s linear infinite;
}

.boxs div:nth-child(7){
  top:60%;
  left:80%;
  animation: animate 15s linear infinite;
}
.boxs div:nth-child(8){
  top:32%;
  left:25%;
  animation: animate 16s linear infinite;
}

.boxs div:nth-child(9){
  top:90%;
  left:25%;
  animation: animate 9s linear infinite;
}

.boxs div:nth-child(10){
  top:20%;
  left:80%;
  animation: animate 5s linear infinite;
}

@keyframes animate {
  0%{
    transform: scale(0) translateY(0) rotate(0);
    opacity: 1;
  }

  100%{
    transform: scale(1.3) translateY(-90px) rotate(360deg);
    opacity: 0;
  }
  
}   

/* grid-container */
.container {
  margin: 4 auto;
  padding: 3%;
  max-width: 100%;
  height: auto;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(var(--boxwidth), 1fr));
  grid-auto-rows: minmax(var(--boxheight), 1fr);
  grid-gap: 70px;
  justify-content: center;
  box-sizing: border-box;
}

@media (max-width: 427px){
 .container{
  padding:9%;
 }
}

/* this is the card selecter */
.box {
  position: relative;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  background: #efefef;
  transition: 0.5s;
  height: 400px;
  /* border-radius: 2%; */

}

.box:hover {
  cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  transform: translateY(-4px);
}

.img-box {
position: absolute;
  object-fit: cover;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  transition: 0.35s cubic-bezier(.15,.78,.46,.8);
  z-index: 1;
 
  
}

.img-box img {
  object-fit: cover;
  width: 100%; height: 100%;
  transition: all .5s ease-in-out;
}

.img-box::after {
/*   extract the title of the article */
  content: attr(title);
  
  font-family:"Lato";
  position: absolute;
  left: 50%;
  transform: translate(-50%,-50%);
  top: 111%;
  z-index: 100;
  text-align:center;
  font-size: 1.05em;
  font-weight: 700;
  width:250%;
  opacity: 1;
  /* border-radius: 10%; */
  height: 45.5%;
  padding-top: 27px;
  /*background: #fff radial-gradient(circle, rgba(0,0,0,0) , rgba(0,0,0,1) 300%); */
  background: #efefef;
  transition: 0.2s;
  color: #666;
  letter-spacing: -.6px;
  box-shadow: inset 0px 0 3px 3px rgba(0,0,0,0.3)
}

.img-box::before {
  position: absolute;
  content: attr(data-author);
  bottom: 2.5%;
  font-weight: 400;
  color: white;
  z-index: 2001;
  text-align: center;
  width: 100%;
  color:var(--accentcolor);
    font-variant: small-caps;
  text-transform: lowercase;
  font-size: 0.8em;
  opacity: 1;
}

.container .box:hover .img-box {

  top: var(--icon-offset);
  left: calc(50% - var(--icon-box-dimensions-half));
  width: var(--icon-box-dimensions);
  height: var(--icon-box-dimensions);


}
.container .box:hover .img-box:after, .container .box:hover .img-box:before
{
  opacity: 0;
}



.container .box:hover .img-box img {
  
  border: 2px solid white;
    border-radius: 50%;
  filter: saturate(70%) contrast(120%);
}

  .box:hover .content {
  bottom: 0;
    opacity: 1;
         transform: scale(1);
}   


.content {
  position: absolute;
  opacity:1;
  bottom: -50%;
  width: 100%;
  /*height: 60%;*/
  height:70%;
  padding: 3.5em;
  font-size: 0.8em;
  text-align: center;
  line-height: 1.4;
  transition: bottom 0.35s cubic-bezier(.15,.78,.46,.8), transform 0.3s;
  color: #000;
  opacity: 0;
  top: 43%;
}

@media (max-width: 427px){
 .content{
    font-size: 0.67em;
 }
}

.content h2 {
  position: relative;
  font-size: 1.4em;
  font-weight: 700;
}


.content h3 {
  font-size: 1em;
  text-transform: lowercase;
  font-variant: small-caps;
  font-weight: 700;
  margin-bottom: 0.5em;
  color: var(--accentcolor);
  margin-bottom: 0.5em;
  /* margin-top: 5em; */
  
}

.content p {
  font-size: var(--content-fontsize);
  font-weight: 100;
  margin-bottom: 0.5em;
  
}  

@media screen and (max-device-width: 323px) { 
  :root {
 
--boxwidth: 110px;

  }
  
    .content{
    font-size: 0.62em;
 }

  
}


@media screen and (min-device-width: 360px) and (max-device-width: 450px) { 
  :root {
--boxheight:150px; 
--boxwidth: 120px;

  }
  
}

@media screen and (min-device-width: 423px) and (max-device-width: 658px) { 
  :root {
--boxheight:150px; 
--boxwidth: 200px;

  }
  
}

.content.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
button {
  margin: 20px;
}
.custom-btn {
  color: #fff;
  width: 130px;
  height: 40px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
}
/* 14 */
.btn-14 {
  position: relative;
  color: #00aced;
  border: none;
  z-index: 2;
}
.btn-14:before,
.btn-14:after {
  position: absolute;
  content: "";
  width: 20%;
  height: 20%;
  border: 1px solid;
  
  z-index: -1;
  transition: all 0.3s ease;
}
.btn-14:before{
   top: 0;
   left: 0;
   border-bottom-color: transparent;
   border-right-color: transparent;
   border-top-color: #00aced;
   border-left-color: #00aced;
}
.btn-14:after{
   bottom: 0;
   right: 0;
   border-top-color: transparent;
   border-left-color: transparent;
   border-bottom-color: #00aced;
   border-right-color: #00aced;
}
.btn-14:hover:before,
.btn-14:hover:after {
  border-color: #00aced;
  height: 100%;
  width: 100%;
  box-shadow: 0 0 5px #00aced, 0 0 5px #00aced inset;
}



/* navbar */


.wrapper2 {
    font-family: "Roboto Slab", serif;
    font-weight: 300;
    position: fixed;
    z-index: 1000;
    width:100vw;
  }
  
  
  h1 {
    font-size: 40px;
    text-align: center;
  }
  
  .containerr{
    cursor: pointer;
    position: absolute;
    padding-top: 10px;
    right: 7%;
    margin-right: 20px;
    width: 40px;
    height: 30px;
  }
  
  .bars{
    width: 40px;
    height: 5px;
    background: #ffffff;
    animation:shine_border 5s ease-in-out alternate infinite;
  }
  
  .bars::before,
  .bars::after{
    content: '';
    position: absolute;
    width: 40px;
    height: 5px;
    background: #ffffff;
    animation:shine_border 2s ease-in-out alternate infinite;
  }
  
  .bars::before{
    margin-top: 9px;
  }
  
  .bars::after{
    margin-top: 18px;
  }
  
  .nav_ani{
    position: fixed;
	  width: 100%;
	  height: 30px;
	  background-color: rgba(0, 0, 0, 0.863);
	  backdrop-filter: blur(8px);
	  display: flex;
	  justify-content: center;
	  align-items: center;
    text-align: center;
	  right: -200vw;
    z-index: 2;
    top: 0;

  
  }
  
  .nav_ani ul {
    list-style: none;
  }
  
  .nav_ani ul li{
    margin: 50px 0;
  }
  
  .nav_ani ul li a{
    color: #fafafa;
    font-size: 2em;
    text-decoration: none;
    font-weight: 500;
    position: relative;
    opacity: 0;
    pointer-events: none;
  }
  
  .nav_ani ul li a:after{
    content: '';
    width: 100%;
    position: absolute;
    height: 3px;
    border-radius: 5px;
    background: #fff;
    bottom: -10px;
    left: 0;
    transform-origin: left;
    transition: transform .5s ease;
    transform: scaleX(0);
  }
  
  
  .nav_ani ul li a:hover:after{
    transform: scaleX(1);
  }
  
  .nav_ani .close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 6%;
    right: 8%;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
  }
  
  .nav_ani h2{
    position: absolute;
    top:5%;
    left: 5%;
    opacity: 0;
    pointer-events: none;
    color: #fff;
    font-size: 2em;
  }
  
  .nav_ani .close div::before,
  .nav_ani .close div::after{
    content: '';
    position: absolute;
    width: 30px;
    height: 4px;
    background: #fff;
    transition: background .5s ease;
  }
  .nav_ani .close div::before{
    transform: rotate(-45deg);
  }
  
  .nav_ani .close div::after{
    transform: rotate(45deg);
  }
  
  .nav_ani .close:hover div::before,
  .nav_ani .close:hover div::after{
    background: rgb(209, 3, 3);
  }
  
  /* @media (max-width: 992px){
    h1{
      font-size: 25px;
    }
    img 
    {
      position: relative;
    }
  } */






  /* pop up box */


  .overlay {
    display: block;
    block-size: 1000px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    /* color: #eee; */
    background-color: rgba(0, 0, 0, 0.5);
     z-index: 999;
    /* width: 100%; */
  }

  .blur {
    filter: blur(5px);
  } 
   
  
  .card {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    padding: 20px;
    border-radius: 10px;
    z-index: 2;
    width:75%;
    /* width: fit-content; */
    /* margin-left: 30%; */
    /* margin-right: 30%; */
    /* max-width: 745vw; */
}

@media (max-width: 760px) {
  .card {
    width: 97%;
  }
}

  /*.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: black;
    padding: 20px;
    
    border-radius: 10px;
    z-index: 2;
    max-width: 2000px;
  }*/

.card-header {
    /* font-size: 1.5rem; */
    display: inline-block;
    max-width: 80vw;
    margin-bottom: -45px;
    margin-top: -25px;
    font-family: 'Mochiy Pop P One';
    /* padding: 15px 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
}


/*  .card-header{
    /* font-size: 1.5rem; 
    margin-bottom: 25px;
    font-family: 'Mochiy Pop P One'; 
    /* padding: 15px 10px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
  }*/
  .card-header .title {
    font-size: 50px;
    font-weight: bold;
    color: rgb(3, 93, 150);
/*    padding-left: 200px;*/
  }


  
  .card-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 80px;
    /* font-weight: bold; */
    color: lightblue;
  }
  .card-body{
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .card-body .text{
    font-family: 'Mochiy Pop P One'; 
    color: lightblue;
  }

  .card-body .a-n2{
    font-weight: 600;
    font-size: large;
    /* color: white ; */
    text-transform: uppercase;
    padding: 1.2em 1.5em; 
    background: black;
    border: none;
   /* border: 2px solid  #b18597; */
    /* border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    margin-top: 50px; */
    /* margin-left: 90px; */
  }

  

.a-n2{
  margin-bottom: 6px;
}
.a-n2:hover{
  background:#F2E34C; color: #000;
  box-shadow: 0px 0px 10px #26a0da, 0px 0px 40px#26a0da, 0px 0px 80px #26a0da; transition-delay: 0.2s;
}


.a-n2 span:nth-child(1){
  top: 0px;
  left: -91%;
  width: 100%;
  height: 2px;
  background: #F2E34C;
}

.a-n2:hover span:nth-child(1){

  left:0%; 
  transition: 0.3s; 
}


.a-n2 span:nth-child(3){
  bottom: 0px;
  right: -91%;
  width: 100%;
  height: 2px;
  background: #F2E34C;
}

.a-n2:hover span:nth-child(3){

  right:0%; 
  transition: 0.3s; 
}

.a-n2 span:nth-child(2){
  bottom: -70%;
  right: 0%;
  width: 2px;
  FONT-WEIGHT: 100;
  background: #F2E34C;
  height: 100%;
}

.a-n2:hover span:nth-child(2){

  bottom:0%; 
  transition: 0.3s; 
}



.a-n2 span:nth-child(4){
  top: -70%;
  left: 0%;
  width: 2px;
  FONT-WEIGHT: 100;
  background: #F2E34C;
  height: 100%;
}

.a-n2:hover span:nth-child(4){

  top:0%; 
  transition: 0.3s; 
}

.a-n2 span,.a-n1 span{
  position: absolute;
  display: block;
}

.a-n2{ margin-left: 20px;
  text-decoration: none; position: relative;  padding: 15px 30px; overflow: hidden; transition: 0.2s all;  color: #fff; text-transform: uppercase; letter-spacing: 4px;
}
/* .container#blur.active{
  filter: blur(20px);
  pointer-events: none;
  user-select: none;
} */
/* #popup{
  position: fixed;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 600px;
  padding: 50px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, .30);
  background: #fff;
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}
#popup.active{
  top: 50%;
  visibility: visible;
  opacity: 1;
  transform: 0.5s;
} */
/* #blur {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background-color: rgba(0, 0, 0, .5); 
  filter: blur(20px);
  pointer-events: none;
}

#blur.active {
  pointer-events: all;
  filter: opacity(1);
} */

/*
  .register-button::before{
    position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #f9c4d2;
      border-radius: inherit;
      box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0  #ffe3e2;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }


  .register-button:hover{
    background: #ffe9e9;
    transform: translate(0, 0.25em);

  }
  .register-button:hover::before{
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    transform : translate3d(0, 0.5em, -1em);
  }

  .register-button:active{
    background:#ffe9e9 ;
    transform: translate(0em, 0.75em);
  }

  .register-button:active::before{
    box-shadow: 0 0 0 2px #b18597, 0 0  #ffe3e2;
    transform: translate3d(0, 0, -1em);
  } 

       


  .close-button{
    font-weight: 600;
    color:#382b22 ;
    text-transform: uppercase;
    padding: 1.25em 2em;
    background: #fff0f0;
    border: 2px solid  #b18597;
    border-radius: 0.75em;
    transform-style: preserve-3d;
    transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), background 150ms cubic-bezier(0, 0, 0.58, 1);
    margin-top: 20px;
    

  }

  .close-button::before{
    position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: #f9c4d2;
      border-radius: inherit;
      box-shadow: 0 0 0 2px #b18597, 0 0.625em 0 0  #ffe3e2;
      transform: translate3d(0, 0.75em, -1em);
      transition: transform 150ms cubic-bezier(0, 0, 0.58, 1), box-shadow 150ms cubic-bezier(0, 0, 0.58, 1);
  }

  .close-button:hover{
    background: #ffe9e9;
    transform: translate(0, 0.25em);

  }
  .close-button:hover::before{
    box-shadow: 0 0 0 2px #b18597, 0 0.5em 0 0 #ffe3e2;
    transform : translate3d(0, 0.5em, -1em);
  }

  .close-button:active{
    background:#ffe9e9 ;
    transform: translate(0em, 0.75em);
  }

  .close-button:active::before{
    box-shadow: 0 0 0 2px #b18597, 0 0  #ffe3e2;
    transform: translate3d(0, 0, -1em);
  } 
